<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="core.reporting.ReportListener"></listener>
    </listeners>
    <test name="Wallbox CRUD Tests" >
        <classes>
            <class name="CreateChargerTests"/>
            <class name="UpdateChargerTests"/>
            <class name="DeleteChargerTests"></class>
        </classes>
    </test>
</suite>
